.banner{
    margin: 50px auto;
    width: 1340px;
    height: 600px;
    background-image: url('images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    text-align: center;
     flex-shrink: 0;
}
 
.banner .small-title h2{
    color: #FFF; 
    font-size: 32px;
    font-family: Merriweather;
    font-weight: 400;
     padding: 177px 531px;
    
   
}

.banner .large-title {
    color: #FFF;
  font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
  
}
.large-title{
    padding-bottom: 177px;
}

.Off{
    max-width: 1600px;
    margin:50px auto;
    align-items: center; 
    justify-content: center;

}
.Off h1, p, h3{
    text-align: center;
}
.Off h1{
    color: #F00;

text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 48px;
}

.Off p{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 0;
}

.Off h3{
    color: #070211;
margin-top: 0;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.Off-image{
    justify-content: center;
    align-items: center;
    text-align: center;

}

.mid-party{
      width: 1320px;
      height: 600px;
      flex-shrink: 0;
      margin: 50px auto;
      display: flex;
      background-image: url('images/Vectorrr.png');
      background-repeat: no-repeat;
      justify-content: center;
      
}
.mid-party .mid-content{
    padding: 126px 152px 298px 126px;
}

.mid-image{
    margin: 68px 138px 68px 0px;
}

.mid-content h1{
    color:aliceblue;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
}

.mid-content p{
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
text-align: left;
}
 .btn1{
    color: #FFF;
background-color: #070211;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
 }




.info{
    width: 1320px;
    height: 482px;
    margin: 50px auto;
    background: linear-gradient( rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
justify-content: center;
}
.info-content{
    width: 549px;
    height: 170px;
   padding: 100px 386px 214px 385px;  
   border: 2px solid black;
   box-shadow: 5px -5px 0 0 ;

}
 span{
    color:#F00 ;
}
.info-content p{
    font-size: 32px;
    font-weight: 600;
line-height: 56px;
text-transform: capitalize;
margin-top: 0;
margin-bottom: 0;


}
.holi{
  width: 1320px;
  margin:50px auto;
   

}
.holi .pink{
    color: #F00;

font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: left;
}
.holi .no-pink{
    text-align: left;
    color: rgba(7, 2, 17, 0.60);

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
margin-top: 0;
}
.holi h1{
    color: #070211;

font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
margin-top: 0;
}

.image-col1 img{
    width: 424px;
    height: 450px;
}
.image-col1{
    width: 1320px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}
.contact{
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 30px auto;
    align-items: center;
    text-align: center;
}
.contact-content{
  width: 896px;
  height: 64;
  margin: 20px auto;

}
.contact-content h1{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.contact-content p{
    color: rgba(7, 2, 17, 0.60);


font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;

}

.contact-img img{
    margin: 80px auto;
    margin-bottom: 0;
}

.contact-content h1{
    margin: 0;
}



.butt{
    margin-bottom: 80px;
}


.butt input{
    border-radius:50px 0 0 50px ;
    width: 402px;
    height: 50px;
    flex-shrink: 0;
    padding: 10px;
    font-size:20px ;
     
}
.butt button{
    border-radius:0px 50px 50px 0px ;
    width: 207px;
    height: 74px;
    flex-shrink: 0;
    padding: 10px;
    border-left: 0;
    background-color: #FF0000;
    font-size: 20px;
    color: #FFF;
    text-align: center;
  }

  .butt input,button{
    margin-top: 50px;
    margin-bottom: 80px;
  }
  
  /* styling footer */

  .end{
   min-width: 1600px;
    height: 609px;
    margin: 0;
    padding: 0;
    background-color:#070211 ;
  }
  .end1{
    margin: 50px auto;
    color: aliceblue;
   display: flex;
   justify-content: space-between;
     border-bottom: 1px solid darkgray;
  }

.left{
   width:  775px;
   margin-top:128px; 
   margin-left: 500px;
 
}
 .left h2{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    
    margin-bottom: 0;
 }
 .right{
   margin-top: 128px;
   margin-right: 500px;
   display: flex;
 }
.right img{
    width: 24px;
    height: 24px;
}
.right p{
    color: #FFF;

font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px;
}
.end2{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-bottom: 30px;
    border-bottom: 1px solid darkgray;
}
.end3{
 
  margin: 30px auto;
    width: 1320px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
}